# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  methods
)

importFrom("graphics", "abline", "legend", "lines", "par", "points",
           "text", "title")
importFrom("stats", "cov", "density", "dnorm", "kmeans", "mad",
           "pnorm", "qnorm", "quantile", "rnorm", "runif", "sd")
